<nav
  class="flex flex-row justify-between items-center p-3 bg-[#333333] text-slate-50"
>
  <div class="w-1/3">
    <a routerLink="home">
      <img
        class="w-20 h-20 object-contain absolute left-0 top-1"
        src="/assets/images/logo.webp"
        alt="logo"
      />
    </a>
  </div>
  <div class="flex flex-row gap-3 w-1/3 justify-center">
    <a routerLink="about">About</a>
    <a routerLink="getstarted">Get started</a>
  </div>
  <div class="w-1/3 flex flex-row justify-end">
    <a routerLink="contact">Contact</a>
  </div>
</nav>
