<img
  class="w-52 h-44 object-contain mx-auto"
  src="/assets/images/logo.webp"
  alt="Linux Penguin"
/>
<div
  class="flex items-center justify-center flex-wrap my-3 mx-auto gap-3 w-[90%"
>
  <app-logocard
    logoPath="/assets/images/distros/debian.webp"
    altText="Debian"
    pagePath="/debian"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/arch.webp"
    altText="Arch"
    pagePath="/arch"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/ubuntu.webp"
    altText="Ubuntu"
    pagePath="/ubuntu"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/arco.webp"
    altText="Arco"
    pagePath="/arco"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/fedora.webp"
    altText="Fedora"
    pagePath="/fedora"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/linuxmint.webp"
    altText="Linux Mint"
    pagePath="/linuxmint"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/manjaro.webp"
    altText="Manjaro"
    pagePath="/manjaro"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/opensuse.webp"
    altText="Opensuse"
    pagePath="/opensuse"
  ></app-logocard>
  <app-logocard
    logoPath="/assets/images/distros/lmde.webp"
    altText="Linux Mint Debian Edition"
    pagePath="/lmde"
  ></app-logocard>
</div>
