<footer class="p-3 flex flex-row justify-between">
  <div>
    <a routerLink="home">
      <img
        class="w-44 h-44 object-contain"
        src="/assets/images/logo.webp"
        alt="logo"
      />
    </a>
  </div>
  <div class="flex flex-col gap-3 text-right">
    <a routerLink="home">Logo</a>
    <a routerLink="about">About</a>
    <a routerLink="getstarted">Get started</a>
    <a routerLink="distros">Distros</a>
    <a routerLink="dualboot">Dual Boot</a>
    <a routerLink="contact">Contact</a>
  </div>
</footer>
